/* have to use assets file so that render can autodeploy the css styling */

body {
    background-color: #f7f9fa;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

.page-content {
    padding: 30px;
}

h1, h2, h3 {
    color: #2c3e50;
    font-weight: 600;
}

.custom-navbar {
    margin-bottom: 20px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.custom-navbar {
    background-color: #001f3f !important;
    padding: 0.75rem 1.5rem;
    border-bottom: 2px solid #00c7b1;
}

.navbar-title {
    font-weight: 600;
    color: #23cfa7 !important;
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
    margin-left: 1rem;
}

.nav-link:hover {
    color: #00c7b1 !important;
    text-decoration: underline;
}
